
<div class="card box-44 container mb-5">
    <div class="card-body py-4">
        <div id="deviceOrientation">
            <div class="text-center mb-3">
                <!-- <img src="src/img/custom_avatars/amba.jpeg" alt="Charles Hall"
                    class="img-fluid rounded-circle border border-success border-3" width="132" height="132" /> -->
                <div class="lead fw-bold">Device Orientation</div>
            </div>
            <div class="mt-2 text-center" id="">
                <div class="d-flex align-items-center justify-content-center">
                    <table>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Absolute</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_absolute" placeholder="Absolute" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Beta (x)</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_beta" placeholder="Beta (x)" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Gamma (y)</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_gamma" placeholder="Gamma (y)" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Alpha (z)</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_alpha" placeholder="Alpha (z)" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input class="button-55 button-55-focus w-100 py-1 mt-2 text-center" type="text" name="" id="gyro_testing_rotation" placeholder="Rotation" readonly />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="deviceMotion_acceleration">
            <div class="text-center mt-4">
                <!-- <img src="src/img/custom_avatars/amba.jpeg" alt="Charles Hall"
                    class="img-fluid rounded-circle border border-success border-3" width="132" height="132" /> -->
                <blockquote class="lead fw-bold blockquote lh-1">Device Motion</blockquote>
                <figcaption class="blockquote-footer lh-1">Acceleration</figcaption>
            </div>
            <div class="mt-2 text-center" id="">
                <div class="d-flex align-items-center justify-content-center">
                    <table>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">X</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_acceleration_x" placeholder="X" readonly />
                            </td>
                            <td><div class="ms-1">m/s²</div></td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Y</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_acceleration_y" placeholder="Y" readonly />
                            </td>
                            <td><div class="ms-1">m/s²</div></td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Z</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_acceleration_z" placeholder="Z" readonly />
                            </td>
                            <td><div class="ms-1">m/s²</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="deviceMotion_accelerationIncludingGravity">
            <div class="text-center mt-4">
                <!-- <img src="src/img/custom_avatars/amba.jpeg" alt="Charles Hall"
                    class="img-fluid rounded-circle border border-success border-3" width="132" height="132" /> -->
                <blockquote class="lead fw-bold blockquote lh-1">Device Motion</blockquote>
                <figcaption class="blockquote-footer lh-1">Acceleration (Including Gravity)</figcaption>
            </div>
            <div class="mt-2 text-center" id="">
                <div class="d-flex align-items-center justify-content-center">
                    <table>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">X</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_acceleration_g_x" placeholder="X" readonly />
                            </td>
                            <td><div class="ms-1">m/s²</div></td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Y</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_acceleration_g_y" placeholder="Y" readonly />
                            </td>
                            <td><div class="ms-1">m/s²</div></td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Z</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_acceleration_g_z" placeholder="Z" readonly />
                            </td>
                            <td><div class="ms-1">m/s²</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="deviceMotion_rotationRate">
            <div class="text-center mt-4">
                <!-- <img src="src/img/custom_avatars/amba.jpeg" alt="Charles Hall"
                    class="img-fluid rounded-circle border border-success border-3" width="132" height="132" /> -->
                <blockquote class="lead fw-bold blockquote lh-1">Device Motion</blockquote>
                <figcaption class="blockquote-footer lh-1">Rotation Rate</figcaption>
            </div>
            <div class="mt-2 text-center" id="">
                <div class="d-flex align-items-center justify-content-center">
                    <table>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Beta (x)</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_rotation_rate_x" placeholder="Beta (x)" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Gamma (y)</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_rotation_rate_y" placeholder="Gamma (y)" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Alpha (z)</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_rotation_rate_z" placeholder="Alpha (z)" readonly />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="deviceMotion_interval">
            <div class="text-center mt-4">
                <!-- <img src="src/img/custom_avatars/amba.jpeg" alt="Charles Hall"
                    class="img-fluid rounded-circle border border-success border-3" width="132" height="132" /> -->
                <blockquote class="lead fw-bold blockquote lh-1">Device Motion</blockquote>
                <figcaption class="blockquote-footer lh-1">Interval</figcaption>
            </div>
            <div class="mt-2 text-center" id="">
                <div class="d-flex align-items-center justify-content-center">
                    <table>
                        <tr>
                            <td><div class="lead fw-bold text-end text-nowrap">Interval</div></td>
                            <td><div class="px-2">:</div></td>
                            <td>
                                <input class="button-55 button-55-focus w-100 py-1 text-center" type="text" name="" id="gyro_testing_interval" placeholder="Interval" readonly />
                            </td>
                            <td><div class="ms-1">ms</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-5" id="judol2">
    <h1 class="h2 fw-bold mb-4">Record (Min & Max)</h1>
    <p class="lead">
        <!-- <span class="fw-bold"></span> -->
    </p>
</div>